/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */

/* BODY */
/* Start body rules COLORES DE FONDO */ 
body {
  
  background-image: url(fotos/fondohtml.png);
background-image: linear-gradient(to top, #7bcde0 0%, #45b4b445 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */



background-color: #93E5F7;

    color:black;
   
      margin-left: 0px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
   
   
}




/* FONDOS */

/* INDEX HTML */
#fondo0{
  background-image: url(fotos/fondohtml.png);
  background-image: linear-gradient(to top, #7bcde0 0%, #45b4b445 100%);
  background-attachment: fixed;
    background-repeat: no-repeat;
  
}




/* PNG FONDO COOKIES */
  .image-fondo {
    background-image: url("fotos/fondohtml.png");
}
.cabecera{
  color: #fff;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
}
 
/* LOGOTIPO */
  div#logotipo{
   margin-left: 10px;
  }
  /*  */ 
  form{

    text-align: left;
  }

  .p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
 
  .column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    margin: 30px;
  }
  
  /* Titulo en take away*/
 .TAKEAWAY{
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(24, 24, 24);
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  
 }

   /* Titulo en NOSOTROS*/
 
.titulonosotros{
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(6, 6, 6);
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;

}


/* CAJAS DE TEXTO */
 

  .caja1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #060606;
    background: #FFD836;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 30px ;
    margin-left: 25px;
    margin-right: 25px;

    }
  

  .caja {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #090909;
    background: #00D8F9;
    margin: 0 0 25px;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
   
    }
    .caja2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #090909;
      background: #00D8F9;
      margin: 0 0 25px;
      margin-top: 25px;
      overflow: hidden;
      margin-left: 25px;
    margin-right: 25px;
     
      }
  
      .caja3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #090909;
        background: #00D8F9;
        margin: 0 0 25px;
        overflow: hidden;
        margin-left: 25px;
        margin-right: 25px;
      }


    /* FOOTER */
    /* si algo no funciona cambiar position a stiky */

@media screen and (min-width:250px){
footer{
  
  background: #c1242b;
  margin-top: 80px;
  height: auto;
  width: 100vw;
  color: #fff;
}

.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;

}

.footer-content h3{
text-transform: capitalize;
line-height: 3rem;
text-align: center;
}

.footer-content p{
max-width: 500px;
margin: 10px auto;
line-height: 28px;
color: #cacdd2;
}

   /* MENÚ */
.wrap{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.column-2.carta{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.plato-carta{
  display: flex;
  align-items: center;
  border: 1px solid #060606;
  border-radius: 6px;
}

.img-plato-carta{
  display: flex;
  flex-basis: 25%;
  justify-content: center;
}

.img-plato-carta img{
  max-width: 100px;
  max-height: 75px;
}

.title-plato-carta{
  border: 1px solid #040303;
  border-bottom: none;
  border-top: none;
  flex-basis: 60%;
  padding: 0 1rem;
}

.precio-plato-carta{
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  font-weight: bold;
}
}

/*  ACORDION PREGUNTAS */

@media screen and (min-width:300px){
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  margin: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.1s;
  margin-left: 10px;
  margin-right: 10px;
}
}

.active, .accordion:hover {
  background-color: #ccc; 
  margin-left: 10px;
  margin-right: 10px;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #7bcde0;
  overflow: hidden;
}

/* |||||||||||||||||||||||||||||||||||||||||||||*/
ul {list-style-type:none;}
/* //////////////////////////////////////////// */



/* TOPNAV */

@media screen and (min-width:50px){
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #54d8f6;
}

.topnav a {
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  color: #030303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(248, 244, 244);
  color: rgb(27, 27, 27);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}
}





/* PRUEBA PARA ESTILO DE INICIAR SESION  */



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  
}
.form {
  
  z-index: 1;
  background: #FFD836;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


/* PRUEBA PARA CSS DE REGISTRATE */

* {
  box-sizing: border-box;
  
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: #FFD836;
 
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  
}

.registerbtn:hover {
  opacity: 1;
  
}

/* Add a blue text color to links */
a {
  color: dodgerblue;

}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}







/***********************************************************/

/***********************************************************/

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


/* Diseño para celulares */
#columna1, #columna2, #columna3 {
	float:none;
	width:100%;
}

/* Diseño para tabletas */ 
@media screen and (min-width: 800px) {
	#columna1, #columna2 {
		float:left;
		width:50%;
	}
}

/* Diseño para PC */ 
@media screen and (min-width: 1025px) {
	#columna1, #columna2, #columna3 {
	float:left;
	width:33%;
}
}

@media (min-width:450px) {
  .footer{
float: none;
justify-content:space-around ;
flex-direction: row;
margin-top: 10px;
margin-bottom: 20px;

}
}

@media screen and (max-width: 980px){
  #contenedor{
      width: 90%;
  }
  #contenido{
      width: 60%;
  }
  #barra_lateral{
      width:30%;
  }
}

@media screen and (max-width: 480px){
  #encabezado{
      height: auto;
  }
  #contenido{
      width: auto;
  }
  #barra_lateral{
      display:none;
  }
}

.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}

@media screen and (min-width: 250px) {
	.footer {
	float:left;
	width:33%;
}
}